* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 20px;
    position: relative;
}

a {
    text-decoration: none;
    color: grey;
}

.black {
    color: black;
}

a:hover {
    color: black;
}

.button {
    display: inline-block;
    color: white;
    background-color:#eb008e;
    border-radius: 50px;
    padding: 10px 20px;
    text-decoration: none;    
}

.container {
    max-width: 1000px;
    margin: 30px auto;
}

img {
    width: 100%;
}

nav img {
    width: 100px;
    margin-right: 10px;
}

nav {    
    display: flex;
    align-items: center;
    
}

.left-menu {
    width: 30%;
}

.right-menu {
    width: 60%;
}

.fa-chevron-down {
    font-size: 8px;
}

/*submenu*/

.dropdown {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 250px;
    display: none;    
}

.dropdown.active {
    display: block;
}

.dropdown .menu li {
    display: block;
    text-align: left;
    padding: 20px;
}